/* Global Selectors Section */
* {
    font-size: 0.85rem;
    font-family: 'Franklin Gothic Medium';
    color: #3B1500;
}

body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

a {
    color: #000;
    font-size: 0.6rem;
    text-decoration: none;
    font-family: 'Arial Narrow';
    letter-spacing: 1px;
}

i {
    cursor: pointer;
}

li {
    list-style-type: none;
    text-transform: uppercase;
    cursor: pointer;
    position: relative;
    width: fit-content;
}

/* Header Section Start */
header {
    width: 100%;
    height: 10rem;
    position: sticky;
    top: 0;
    padding-top: 1rem;
    background-color: #fff;
    box-shadow: 1px 3px 3px #00000033;
    z-index: 999;
}

header>div:first-child,
.visualSearchBox,
.unorderList {
    display: flex;
    justify-content: space-between;
    gap: 60px;
    align-items: start;
    flex-direction: row;
    box-sizing: border-box;
    z-index: 990 !important;
}

.showAndHide {
    display: block !important;
}

header>div:first-child {
    gap: 5rem;
    padding: 0 2rem;
    margin-top: 0rem;
}

.logo {
    width: 17rem;
    min-width: 5rem;
}

.visualSearchBox {
    gap: 2.5rem;
}

/* For login button */
.active-btn {
    color: red !important;
}

/*username*/
.username {
    position: fixed;
    top: 20px;
    left: 35px;
    z-index: 999;
}

main {
    overflow-x: hidden;
}

/* Cart Style */
.cart-container {
    width: 400px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 20px;
    padding: 20px;
    padding-bottom: 50px;
    box-sizing: border-box;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    position: fixed;
    top: 0;
    right: 0;
    transform: translateX(100%);
    z-index: 999;
    transition: transform .3s ease-in;
    overflow-x: hidden;
    overflow-y: scroll;
}

.active_cart_container {
    transform: translateX(0);
}

.cart-container::before {
    content: "CLOSE";
    font-size: 1em;
    position: absolute;
    right: 50px;
    top: 50px;
    z-index: 999 !important;
    cursor: pointer;
}

.cart-item {
    width: 400px;
    height: 400px;
}

.cart-item-image {
    width: 300px;
    height: 300px;
}

.cart-container::after {
    content: "REMOVE ALL PRODUCTS";
    color: red;
    background-color: #3B1500;
    padding: 5px;
    box-sizing: border-box;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
    z-index: 999;
    cursor: pointer;
}

.closeTheCart {
    transform: translateX(100%) !important;
}

/* Navigation */
.nav {
    width: fit-content;
    height: 100px;
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: .5rem;
    padding: 0 10rem;
    position: relative;
}

.listItemContainer {
    color: #3B1500;
    position: relative;
    width: fit-content;
}

.listItemContainer::before {
    content: '';
    width: 100%;
    height: 2px;
    background-color: #3B1500;
    position: absolute;
    bottom: 0px;
    left: 0;
    transform: scale(0);
    transition: transform 0.1s ease-in;
}

.listItemContainer:hover::before {
    transform: scale(1);
}

/* Bar Icon */
.fa-bars {
    display: none;
    font-size: 1.5rem;
    padding: .5rem;
    position: fixed;
    left: 0;
    top: 4rem;
}

/* Dropdown Table */
.dropdownTable {
    width: max-content;
    text-align: center;
    padding: 2em;
    box-sizing: border-box;
    background-color: #fff;
    position: absolute;
    left: 10rem;
    top: 50px;
    display: none;
    transition: all .3s ease-in;
    z-index: 999;
}

.dropdownTable::before {
    content: "CLOSE";
    position: absolute;
    right: 0;
    top: 0;
    cursor: pointer;
    padding: .5em;
    z-index: 999 !important;
}

.dropdownTable>tbody>tr>td {
    padding: 10px;
    box-sizing: border-box;
}

/* Search Box */
#searchBox {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: absolute;
    top: -100%;
    left: 0;
    transition: all .5s ease;
    z-index: 999;
}

.activesearchBox {
    top: 0 !important;
}

#searchBox>div {
    width: 100%;
    height: 150px;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
}

input[type=search] {
    width: 60%;
    height: 50%;
    border: none;
    border-bottom: 1px solid #00000060;
    padding-inline: 2rem;
    font-size: 1.5rem;
    color: #000000a6;
}

input[type=search]:focus {
    outline: none;
}

input::placeholder {
    font-size: 1.5rem;
}

#productList {
    /* Container for the product list */
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-evenly;
    position: relative;
    top: 150px;
    padding-top: 1rem;
    padding-bottom: 1rem;
    box-sizing: border-box;
}

.increasezIndex {
    z-index: 1000 !important;
}

#productList::before {
    /* Pseudo-element for additional content before the product list */
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    color: red;
}

/* New class with content */
.text-added::before {
    content: "Your text here";
    /* Placeholder text for the new class */
}

#searchButton {
    /* Style for the search button */
    display: block;
    border: none;
    font-size: 1rem;
    padding: .5rem;
    color: #00000060;
    background-color: transparent;
    cursor: pointer;
    position: absolute;
    left: 65%;
}

.filteredProductImg {
    /* Style for the filtered product images */
    width: 130px;
    height: 130px;
}

/* Header section end */

/* Slider Section and Brands Collection Section Start */
.slider_section,
.brands_collection {
    width: 100%;
}

.slider_section>a,
.slider_section>a>img,
.brands_collection>a,
.brands_collection>a>img {
    width: inherit;
}

.Hero_Banner_subscription_DESKTOP {
    width: inherit;
}

/* Slider Section End */

/* Shopping Section Start */
.shopping_section {
    position: relative;
    width: 100vw;
    box-sizing: border-box;
    overflow-x: hidden;
}

.shopping_section::before {
    /* Pseudo-element for the shopping section title */
    content: " FRESH PICKS: OUR TOP RECOMMENDATIONS OF THE WEEK";
    font-size: 1.3em;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: -20px;
}

.mainContainer {
    /* Main container for the shopping section */
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    padding: 1em;
    padding-left: 0;
    box-sizing: border-box;
    overflow-x: hidden;
    position: relative;
}

.productItemContainer {
    /* Container for each product item */
    width: 350px;
    height: 400px;
    position: relative;
    top: -2em;
    padding: 1em;
    box-sizing: border-box;
    transition: all .3s linear;
    left: -10px;
}

.productName {
    /* Style for the product name */
    font-family: 'Arial Narrow';
    position: absolute;
    left: 20px;
    top: 0;
    text-transform: uppercase;
    font-weight: 100;
}
.price {
    font-family: 'Arial Narrow';
    position: absolute;
    right: 20px;
    top: 20px;
    text-transform: uppercase;
    font-weight: 100;
}

.fa-arrow-right,
.fa-arrow-left {
    /* Style for the navigation arrows */
    font-size: 1.6em;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: #fff;
    background-color: #000;
    padding: .3em;
    border-radius: 50%;
    z-index: 990;
}

.fa-arrow-left {
    /* Position for the left arrow */
    left: 0;
}

.fa-arrow-right {
    /* Position for the right arrow */
    right: 0;
}

.linkForSliderSection {
    /* Style for the link in the slider section */
    width: max-content;
    border: 1px solid black;
    padding-inline: 15px;
    position: absolute;
    bottom: 0rem;
    right: 0;
    transition: all 0.1s ease-in;
}

.linkForSliderSection:hover {
    /* Hover effect for the link in the slider section */
    color: #fff;
    background-color: #3B1500;
}

.addToCart {
    position: absolute;
    left: 20px;
    bottom: 0px;
    z-index: 9;
    color: #000;
    background-color: transparent;
    display: block;
    width: max-content;
    border: 1px solid #000;
    border-radius: 0px;
    font-size: 10px;
    padding: 0px 15px 0 15px;
}
.addToCart:hover {
    color: #fff;
    background-color: #3B1500;
}
.viewAll {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    font-size: 14px;
    color: #fff;
    background-color: #3B1500;
    padding: 2px 35px 2px 35px;
    box-sizing: border-box;
    border-radius: 5px;
}
.productImage {
    /* Style for the product image */
    width: inherit;
    height: inherit;
    border: 1px solid rgba(0, 0, 0, 0.205);
}

.popup-container {
    /* Container for the popup */
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1000;
}

.popup-content {
    /* Content inside the popup */
    width: calc(100% - 70%);
    height: calc(100% - 10%);
    background: white;
    box-shadow: 1px 1px 10px #000;
    padding: 40px 20px;
    box-sizing: border-box;
    border-radius: 10px;
    text-align: center;
    position: fixed;
    top: 2%;
    left: 50%;
    transform: translateX(-50%);
}

#popupProductImage {
    /* Style for the product image in the popup */
    width: calc(100% - 10%);
}

#popupProductLink {
    /* Style for the product link in the popup */
    margin: 0 auto !important;
    position: relative;
    top: 20px;
    border: 1px solid #3B1500;
    padding: .5em;
}

.popupNote {
    display: none;
}

.close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 24px;
    cursor: pointer;
}

/*shopping section end*/

/*section four block and section sixth block*/
.section_four_block_desktop,
.section_sixth_block_desktop {
    width: 100%;
    height: auto;
    margin-top: 4rem;
}

.section_four_block_desktop>a,
.section_sxith_block_desktop>a,
.section_four_block_desktop>a>img,
.section_sixth_block_desktop>a>img {
    width: 100%;
}

/*shop*/
.decorativeImg {
    width: 27vw;
    height: 37vw;
}

.decorativeShop {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    padding: 0 2vw;
    box-sizing: border-box;
    margin-top: 1rem;
}

.about_section {
    padding: 0 2vw;
    box-sizing: border-box;
    margin-top: 2rem;
}

.content {
    text-align: center;
}

.content>p {
    font-family: 'Arial Narrow';
}

.content+div {
    width: 100%;
    display: flex;
    gap: 10px;
    margin-top: 2rem;
}

.content+div>img {
    width: 50%;
}

/*footer*/
footer {
    width: 100%;
    height: auto;
    background-color: #F5F5F5;
    padding-top: 4rem;
    box-sizing: border-box;
    display: grid;
    gap: 3rem;
    grid-template-columns: repeat(3, 25rem);
    justify-content: space-around;
    position: relative;
}

.unorderListForShortcut {
    display: flex;
    flex-direction: column;
    gap: 10px;
    position: relative;
    text-transform: capitalize;
    padding-inline-start: 0;
}

.popular_shortcut_section {
    position: relative;
}

.popular_shortcut_section::before {
    content: "POPULAR SHORTCUTS";
}

.email_section::before {
    content: "SUBSCRIBE TO RECEIVE LOYALTY REWARDS & £10 OFF YOUR FIRST PURCHAS";
}

.question_section::before {
    content: "do you have a question?";
}

.popular_shortcut_section::before,
.question_section::before,
.email_section::before {
    font-size: 1rem;
    text-transform: uppercase;
    text-decoration: underline;
    text-align: center;
    opacity: .8;
    position: absolute;
    top: -2rem;

}

/*email section*/
.question_section {
    position: relative;
}

.email_section {
    position: relative;
}

.email_section>.userEmail::placeholder {
    font-size: .9em;
}

#messageSpan {
    display: none;
    color: red;
}

/* Style for the floating message */
.floating-message {
    display: none;
    position: absolute;
    background-color: #fff;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    animation: floatAndDisappear 2s forwards;
}

/* Animation for floating and disappearing */
@keyframes floatAndDisappear {
    0% {
        opacity: 1;
        transform: translateY(0);
    }

    50% {
        opacity: 1;
        transform: translateY(-20px);
    }

    100% {
        opacity: 0;
        transform: translateY(-40px);
    }
}

input[type=email] {
    width: 100%;
    padding: 1rem;
    box-sizing: border-box;
    margin-top: 2rem;
}

.ask_why {
    display: block;
    width: 11rem;
    padding: 1.5rem 2rem;
    box-sizing: border-box;
    font-size: 1rem;
    text-transform: capitalize;
    color: #fff;
    background-color: #211000;
    border-radius: .5rem;
    text-align: center;
    position: relative;
    margin-top: 2rem;
}

.fa-message {
    color: #fff;
    margin-right: .3rem;
}

.chat-box {
    display: none;
    width: 300px;
    height: max-content;
    border: 1px solid #ccc;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    text-align: center;
    position: absolute;
    right: 120px;
    bottom: 0;
    z-index: 999;
}

.chatClose {
    position: absolute;
    right: 20px;
    top: 20px;
    font-size: .8em;
    cursor: pointer;
    z-index: 999;
}

.chat-header {
    font-weight: bold;
    margin-bottom: 20px;
}

.chat-message {
    color: #666;
    margin-bottom: 20px;
}

.operating-hours {
    width: max-content;
    font-weight: bold;
    margin-bottom: 10px;
    border-bottom: 1px solid #00000033;
    cursor: pointer;
}

.zendesk-logo {
    margin-top: 20px;
    color: #666;
    font-size: 0.8em;
}

.chat-box>form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    gap: 5px;
}

.chat-box>form>input[type="text"],
.chat-box>form>input[type="email"],
.chat-box>form>textarea {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-bottom: 0 !important;
    margin-top: 0 !important;
}

.chat-box>form>input[type="submit"] {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px;
    width: 100%;
    border-radius: 5px;
    cursor: pointer;
}

.chat-box>form>input::placeholder {
    font-size: .8em;
}

@media (max-width:1400px) {

    /*nav*/
    header {
        height: 5rem;
        padding-bottom: 2rem;
        box-shadow: 1px 3px 5px #00000033;
    }

    nav {
        display: none !important;
        padding: 0rem 1rem !important;
        height: calc(100vh - 10vh) !important;
        background-color: #fff;
        position: fixed;
        left: 0;
        top: 0;
    }

    nav>ul,
    nav>li {
        width: inherit;
    }

    .listItemContainer::before {
        width: 0;
    }

    .fa-bars {
        display: block;
    }

    .active_cart_container {
        transform: translateX(-180%);
    }

    .closeTheCart {
        transform: translateX(-80%) !important;
    }

    /*footer*/
    footer {
        grid-template-columns: repeat(2, 25rem);
    }
}

@media (max-width:992px) {
    .login-container {
        width: calc(100% - 20%);
    }

    .cart-container {
        width: 300px;
    }

    .active_cart_container {
        transform: translateX(-200%);
    }

    .closeTheCart {
        transform: translateX(-80%) !important;
    }

    .productName {
        font-size: .7em;
        left: 20px;
    }

    .linkForSliderSection {
        background-color: #fff;
    }

    .popup-content {
        height: max-content;
        left: 0;
        transform: translateX(50%);
    }

    footer {
        grid-template-columns: 25rem;
        justify-content: left;
        padding-left: 50px;
        box-sizing: border-box;
    }

    .chat-box {
        left: 0 !important;
    }

    nav>ul {
        flex-direction: column !important;
    }
}